@import './vars.scss';
@import './fonts.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    // padding: 0 15px;
    margin: 0 auto;
}

.wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}